birdview_v2_cache
data
data_collection/bash*
data_collection/batch*
dataset/weather*
dataset/dataset_index.txt
*.back
*.tar
*pth*
interfuser/output/*
*__pycache__*
*.pyc
.vscode
data_collection/base_script.sh
data_collection/generate_bashs.py
leaderboard/leaderboard/leaderboard_evaluator.py
leaderboard/team_code/interfuser_config.py
result/